body {
  height: 100%;
  margin: 0;
}

.answer-segment:hover {
  cursor: pointer;
}

.answer-segment-selected {
  border-color: green;
  border-style: solid;
  border-width: 10px;
}

.question-container {
  width: 50%;
  margin: auto;
}

.question-container h2 {
  text-align: center;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.box .row {
  border: 0px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  padding: 20px;
  margin: 0 auto;
}

.header img {
  width: 250px;
}

.box .row.content {
  flex: 1 1 auto;
  background-color: #eef6f6;
}

.content {
  padding-top: 30px;
}

.box .row.footer {
  flex: 0 1 40px;
}

.landing-img {
  max-width: 700px;
  margin: auto;
  margin-bottom: 120px;
}

.landing-content {
  text-align: center;
}

.landing-content-button {
  background-color: #5bbfba;
  border-radius: 30px;
  padding: 15px 100px;
  border-width: 0px;
  margin-top: 30px;
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.landing-content-button:hover {
  color: white;
}

.landing-content-button:disabled {
  display: none;
}

.continue-footer-bar {
  border-top: 1px solid lightgray;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  background-color: #eef6f6;
  width: 100%;
  text-align: center;
}

.half-container {
  width: 50%;
  padding: 0px 100px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0 auto;
  padding: 50px;
}

.half-container-parent {
  text-align: center;
  padding: auto;
}

.half-container-parent h1 {
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .question-container {
    width: 95%;
  }
}

@media only screen and (max-width: 800px) {
  .half-container {
    width: 95%;
  }
}
